.menu
  color black
  margin 0

.logo
  width 7%
  left 0
  width: 48px;
  transition: 5s;
  position: absolute;

.Bici
  position: relative;
  transform: translateX(-60px);

.Bici:hover .logo
  left: calc(100% - 100px);

.Nav-c
  margin 0

.Titulo
  color

.Titulo:hover
  Text-decoration none
