.carousel-caption
    position: absolute
    right: 15%
    bottom: 35px
    width: 60%
    left: 15%
    z-index: 10
    padding-top: 20px
    padding-bottom: 20px
    color: #fff
    text-align: left
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)


.Carousel-padding
  padding-left: 0
  padding-right: 0
.row
  margin-left 0
  margin-right 0
.Intro
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-image: url("../../assets/images/1.jpg")
  background-attachment fixed
  &-container
    margin: 80px 0
  &-button
    background-color: MainColor
    color: white
    text-transform: uppercase
    font-size: 17px
    border-radius: 0px
    padding: 20px 30px
  &-title
    text-transform: uppercase
    font-weight: bold
    background: rgba(17, 24, 31, 0.9)
    padding: 30px 30px
    border-left: 1px solid MainColor
    >p
      margin: 0
      color: white
      line-height: 54px
    >p:nth-child(1)
      font-size: 26px
    >p:nth-child(2)
      font-size: 43px
      color: MainColor
    >p:nth-child(3)
      font-size: 34px
.carousel-inner > .item > img
  width 100%
  height 500px
  padding: 0px 0px 0.5em
.Btn-adsi
  margin-bottom 1em
.Slide-padding
  margin 0
.TRABAJANDO
  font-size 100px
  text-align center
  color white

@media screen and (min-width:768px){
    .carousel-caption h3{font-size: 52px}
    .carousel-caption p{font-size: 32px}
    .carousel-caption{padding-bottom:160px}
}

.paquetes
  padding-bottom 50px
  padding-top 10px
.premium
  color white
  background-color #1c4a58
.oro
  color white
  background-color #204366
.estandar
  color white
  background-color #428bca
.paquete1
  border 2px solid #1c4a58
.paquete2
  border 2px solid #204366
.paquete3
  border 2px solid #428bca
.boton1
  background-color #1c4a58
  color white
  border-color #1c4a58
  border-radius 10px
.boton1:hover
  color #1c4a58
  border-color #1c4a58
  background-color white
.boton2
  background-color #204366
  color white
  border-color #204366
  border-radius 10px
.boton2:hover
  color #204366
  border-color #204366
  background-color white
.boton3
  background-color #428bca
  color white
  border-color #428bca
  border-radius 10px
.boton3:hover
  color #428bca
  border-color #428bca
  background-color white
.lead
  font-size 33px
  margin-bottom 0px
.linea
  border 3px solid #428bca
  border-radius 300px
  height 0px
  text-align center

.Sombra
  box-shadow 0px 17px 20px rgba(16, 22, 26, 0.75)
  margin-left 0px
